.review {
  padding: 10px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.review-title {
  font-size: 25px;
}

.review-photos img {
  max-width: 200px;
}

.review-list {
  padding-bottom: 50px;
}
