.add-review-form-container {
  border: 2px solid darkgrey;
  border-radius: 4px;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}

.form-input {
  padding-bottom: 10px;
}

.form-input-title, .form-input-area-name {
  width: 100%;
}

.form-input .form-input-description {
  width: 100%;
  height: 150px;
  min-height: 150px;
  resize: vertical;
}

.preview {
  padding-right: 5px;
}

.preview-image {
  height: 175px;
}

.preview-cross {
  width: 30px;
  padding: 5px;
  position: absolute;
  cursor: pointer;
}

.dropzone-text {
  padding: 10px;
  text-decoration: underline;
  color: #1EAEDB;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

.preview-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-bottom: 10px;
}

.form-error {
  color: #B80000;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}
