@(invalidCredentials: Boolean = false)

@main("Login | RateMyArea") {
    <form method="post" action="/login">
        <fieldset>
            <legend>Login</legend>
            <p>
                <label for="email">Email:</label>
                <input id="email" name="email"/>
            </p>
            <p>
                <label for="password">Password:</label>
                <input id="password" name="password"/>
            </p>
            @(if (invalidCredentials) <p style="color: red;">Invalid email address or password</p>)
            <button class="button--sm">Login</button>
        </fieldset>
    </form>
}
